services:
  rag-api:
    build:
      context: ./          # Working directory for Docker
      dockerfile: ./Dockerfile
    restart: always
    image: rag-api-image
    ports:
      - "7861:8000"
    environment:
      - SSL_KEYFILE=${SSL_KEYFILE}
      - SSL_CERTFILE=${SSL_CERTFILE}
    volumes:
      - ./core:/app/core
      - ./gui:/app/gui
      - ./data:/app/data
      - ./utils:/app/utils
      - ./api.py:/app/api.py
      - ./rag.py:/app/rag.py
      - ./api_settings.yaml:/app/api_settings.yaml
      - ./favicon.ico:/app/favicon.ico
      - ${SSL_KEYFILE}:/app/ssl_key.pem:ro
      - ${SSL_CERTFILE}:/app/ssl_cert.pem:ro
    working_dir: /app
    command: uvicorn api:app --host 0.0.0.0 --port 8000 --ssl-keyfile /app/ssl_key.pem --ssl-certfile /app/ssl_cert.pem
