# CORE
python-dotenv~=1.1.0
pyyaml~=6.0.2
requests~=2.32.3
typing_extensions~=4.13.2
pydantic~=2.11.4
pyjwt~=2.10.1
pandas
numpy

# API
uvicorn~=0.34.2
fastapi~=0.115.12

# GUI
gradio~=5.31.0

# DATABASE
SQLAlchemy~=2.0.41

# LANGCHAIN / LANGGRAPH
langchain_aws~=0.2.23
langchain_core~=0.3.60
langchain_community~=0.3.24
langchain_text_splitters~=0.3.8
langchain_neo4j
langgraph~=0.4.5
openai

# AWS
boto3~=1.38.19